.hi{

    font-size:12rem;
    color:black;
}

.header{
    background-color: rgb(85, 147, 217);
    height:50rem;
    font-size:14rem;
    color:white;
    display:flex;
    align-items: center;
    padding: 0 12rem;;
    
}

.body{
    color:black;
    font-size:14rem;
    padding:4rem;
}